div.bloco {
    height: 200px;
    width: 1000px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;

    background-image: url(../imagens/wallpaper003.jpg);
    background-repeat: no-repeat;
}

div#q1 {
    background-position: left top;
}

div#q2 {
    background-position: left center;
}

div#q3 {
    background-position: right bottom;
}

div#q4 {
    background-position: center center;
}